{{#each courses}}
    <div clas="card card-body mb-3">
        <h4>{{coursename}}</h4>
        <h5>{{instructor}}</h5>
        <h6>{{semester}}</h6>
        <a class="btn btn-dark btn-block mb-2" href="/courses/edit/{{id}}">edit</a>
        <form method="post" action="/courses/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-dark btn-block" value="delete">

        </form>
    </div>


{{else}}
    <p>no courses in db</p>
    <a class="btn btn-dark btn-block" href="/courses/add">add a course</a>
{{/each}}